/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# мои правила: 
# игнорим всю папку со скриптами кроме файла с моими скриптами
/public/js
!/publick/js/main.js
public/companies/logo/0N2f8nL2T7ZnFsqLX2Qp.png
public/companies/logo/1I7Mo7b3KdL1y5hMdVNv.png
public/companies/logo/5Jn9OavZbO5HKz5I9qKO.png
public/companies/logo/AWCcnK2EZcP2zKRRTorh.png
public/companies/logo/d1tWts7OW4lv4CCdWF60.png
public/companies/logo/ElUQfh22Qbmgo4UisvJq.png
public/companies/logo/ew3PwfkxidIT0v4qQaeu.png
public/companies/logo/GdrTd0FqNVKZePA0kOvd.png
public/companies/logo/Gof2DjqzrM9uj0mJOio1.png
public/companies/logo/h7rgRnWy9mBBKgwMIPjM.png
public/companies/logo/I4enEr0N3YQktsZppjV3.png
public/companies/logo/KkGBNaI8QyoXMsHQtrG1.png
public/companies/logo/mNd1NHLcg95p8jR924oY.png
public/companies/logo/VrbTJcrltOvPEZ7HEwlU.png
public/companies/logo/vVCSoFLbUf6mZAyfY4r7.png
public/companies/logo/zThPivVdgNQWgYKSHe14.png
BI.zip
