/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# мои правила: 
# игнорим всю папку со скриптами кроме файла с моими скриптами
/public/js
!/publick/js/main.js
